.conteiner {
  background: black;
  width: 300px;
  height: 475px;
  color: white;
  font-size: 23px;
  padding: 10px;
  margin: 30px auto;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
}
.num-display {
  height: 115px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 15px;
}
.num-display p {
  font-size: 45px;
}
.buttons {
  display: grid;
  grid-template-areas:
    "ac plus-minus percent slash"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
  grid-gap: 5px;
  justify-items: center;
}
.item.zero {
  grid-area: zero;
  width: 100%;
  border-radius: 30px;
}
.item {
  height: 60px;
  width: 60px;
  background: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  user-select: none;
}
.bg-grey {
  background: #666;
}
.bg-orange {
  background: #FF9900;
}
.item:hover {
  filter: brightness(120%);
}
.item:active {
  filter: brightness(80%);
}
